/* mindfull design tokens: the :root custom properties from mindfull-design-system/exports/mindfull-tokens.css
   (generated there by build/build.mjs). Copied so the prototype deploys on its own; re-copy when the design system changes.
   Left out on purpose: the Gotham Rounded @font-face rules (commercial font, no web licence), the Prompt @import
   (index.html already loads it) and the .en-* / .th-* type classes (styles.css sets type directly). */
:root {
  --turquoise-1: var(--turquoise-500);
  --turquoise-2: var(--turquoise-100);
  --turquoise-3: #DBF0EE;
  --turquoise-text: #009688;
  --turquoise-50: #E0F8F6;
  --turquoise-100: #B3EDE8;
  --turquoise-200: #80E2D9;
  --turquoise-300: #4DD6CA;
  --turquoise-400: #26CDBE;
  --turquoise-500: #00C4B3;
  --turquoise-600: #00BEAC;
  --turquoise-700: #00B6A3;
  --turquoise-800: #00AF9A;
  --turquoise-900: #00A28B;
  --blue-1: var(--blue-500);
  --blue-2: var(--blue-300);
  --blue-3: var(--blue-200);
  --blue-4: var(--blue-100);
  --blue-5: var(--blue-50);
  --blue-50: #E4EFFB;
  --blue-100: #C7DDF7;
  --blue-200: #8FBBEF;
  --blue-300: #62A0E9;
  --blue-400: #418BE4;
  --blue-500: #1F77DF;
  --blue-600: #1B6FDB;
  --blue-700: #1764D7;
  --blue-800: #125AD2;
  --blue-900: #0A47CA;
  --marigo-1: #F9A000;
  --marigo-2: var(--marigo-100);
  --marigo-50: #FCF4E0;
  --marigo-100: #F8E4B3;
  --marigo-200: #F4D280;
  --marigo-300: #F0BF4D;
  --marigo-400: #ECB226;
  --marigo-500: #E9A400;
  --marigo-600: #E69C00;
  --marigo-700: #E39200;
  --marigo-800: #DF8900;
  --marigo-900: #D97800;
  --flamingo-1: var(--flamingo-500);
  --flamingo-2: var(--flamingo-100);
  --flamingo-50: #FDEFEE;
  --flamingo-100: #FAD6D5;
  --flamingo-200: #F7BBB9;
  --flamingo-300: #F4A09D;
  --flamingo-400: #F18B88;
  --flamingo-500: #EF7773;
  --flamingo-600: #ED6F6B;
  --flamingo-700: #EB6460;
  --flamingo-800: #E85A56;
  --flamingo-900: #E44743;
  --sunshade-1: var(--sunshade-500);
  --sunshade-2: var(--sunshade-100);
  --sunshade-50: #FFF2E9;
  --sunshade-100: #FFDDC9;
  --sunshade-200: #FFC7A5;
  --sunshade-300: #FFB181;
  --sunshade-400: #FFA066;
  --sunshade-500: #FF8F4B;
  --sunshade-600: #FF8744;
  --sunshade-700: #FF7C3B;
  --sunshade-800: #FF7233;
  --sunshade-900: #FF6023;
  --guava-1: var(--guava-500);
  --guava-2: var(--guava-100);
  --guava-50: #F1FAED;
  --guava-100: #DCF3D1;
  --guava-200: #C5ECB3;
  --guava-300: #ADE494;
  --guava-400: #9CDE7D;
  --guava-500: #8AD866;
  --guava-600: #82D45E;
  --guava-700: #77CE53;
  --guava-800: #6DC849;
  --guava-900: #5ABF38;
  --black: #000000;
  --white: #FFFFFF;
  --black-gray-1: var(--gray-400);
  --black-gray-2: var(--gray-200);
  --black-gray-3: var(--gray-100);
  --gray-50: #FBFBFB;
  --gray-100: #F6F6F6;
  --gray-200: #F1F1F1;
  --gray-300: #E6E6E6;
  --gray-400: #C4C4C4;
  --gray-500: #A6A6A6;
  --gray-600: #7C7C7C;
  --gray-700: #686868;
  --gray-800: #484848;
  --gray-900: #272727;
  --turquoise-gray-1: #355956;
  --turquoise-gray-2: #3F6866;
  --turquoise-gray-3: #528984;
  --turquoise-gray-4: #79ADA9;
  --bluegray-50: #EAEFF5;
  --bluegray-100: #CDD8E1;
  --bluegray-200: #B0BDCA;
  --bluegray-300: #91A3B4;
  --bluegray-400: #7A8FA2;
  --bluegray-500: #637B91;
  --bluegray-600: #566D80;
  --bluegray-700: #465969;
  --bluegray-800: #374654;
  --bluegray-900: #26313C;
  --radius-none: 0px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-avatar: 34%;
  --radius-circle: 50%;
  --elevation-01: 0 2px 8px 0 rgba(0, 196, 179, 0.08);
  --elevation-02: 0 2px 16px 0 rgba(0, 196, 179, 0.12);
  --elevation-03: 0 8px 16px 0 rgba(0, 196, 179, 0.12);
  --elevation-04: 0 16px 24px 0 rgba(0, 196, 179, 0.16);
  --elevation-05: 0 8px 16px -4px rgba(0, 196, 179, 0.12);
  --elevation-06: 0 16px 24px 0 rgba(0, 196, 179, 0.1), 0 4px 8px -4px rgba(0, 196, 179, 0.1);
  --elevation-07: 0 16px 32px 0 rgba(0, 196, 179, 0.16), 0 4px 12px -4px rgba(0, 196, 179, 0.12);
  --elevation-08: 0 24px 40px 0 rgba(0, 196, 179, 0.18), 0 8px 24px -4px rgba(0, 196, 179, 0.14);
  --gradient-black: linear-gradient(180deg, rgba(71, 76, 85, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  --gradient-turquoise-01: linear-gradient(180deg, rgb(219, 240, 238) 0%, rgba(219, 240, 238, 0.99) 41.67%, rgba(219, 240, 238, 0) 84.52%);
  --gradient-turquoise-02: linear-gradient(124deg, #B3EDE8 1.4%, #D7FDFA 78.5%);
  --icon-12: 12px;
  --icon-16: 16px;
  --icon-20: 20px;
  --icon-24: 24px;
  --icon-40: 40px;
  --icon-56: 56px;
  --icon-72: 72px;
  --font-en: "Gotham Rounded", "Prompt", system-ui, sans-serif;
  --font-th: "Prompt", "Gotham Rounded", system-ui, sans-serif;
}
